*.class
*.log
out/*
target/*
experiment/*

run/*

*.iml
*.ipr
*.iws
.idea/*

# vim
*.swp
.*.sw[a-z]
*.un~
Session.vim

# others
data/*

# project specific
*.Opt.circuit
*.Opt.fmt
*.power
*.output
run/progs/*.txt.*
run/progs/*.txt.*.input

# doc
doc/build/*
